## Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

## App
# Base URL aplikasi kamu (dipakai buat successUrl/cancelUrl + webhookUrl)
NEXT_PUBLIC_APP_URL=http://localhost:3000

## Locus (Hackathon biasanya pakai Beta)
LOCUS_API_BASE=https://beta-api.paywithlocus.com/api
LOCUS_API_KEY=claw_your_key_here

